header {
	width: 50%;
	margin: auto;
	text-align: center;
	font-style: italic;
	border-bottom: solid black 3px;
}

header > p {
	font-size: .8em;
}

footer {
	padding-top: 10px;
	clear: both;
	text-align: center;
	border-top: solid black 3px;
	font-size: .8em;
	font-style: italic;
}

h1, h2 {
	font-family: courier;
}


.column-1{
	
	float: left;
	width: 45%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	border-right: solid black 3px;
	background-color: grey;	
}

.column-2 {
	
	float: right;
	width: 45%;
	padding-left: 15px;
	padding-bottom: 15px;	
}

a:link {
	font-family: cursive;
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	font-weight: bold;
}

a:active {
	font-weight: bold;
	font-style: italic;
}
