
<!DOCTYPE html>
<html>
<head>
	<title>Remove Student</title>
</head>
<body>
<form action="/students/removed" method="POST">
	<input type="TEXT" name="name">
	<button type="submit">Remove</button>
</form>
</body>
</html>